h1,h2
{
    color:blueviolet;
    margin: 0%;
    text-shadow: red 2px 5px;
}
.for-h2{
    display: flex;
    justify-content: space-between
}
body
{
    background-color: cadetblue;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}
footer
{
    background-color: chartreuse;
    margin:0%;
    border-top: solid 5px red;
}
header
{
    background-color: darkturquoise;
    margin: 0%;
}
main
{
    background-color: cornsilk;
    margin: 0%;
}
h3,h4,h5,h6
{
    margin: 0%;
}
ul
{
    margin: 0%;
    list-style: none;
    display: flex;
    align-content: flex-end;
    align-items: center;
}
li a
{
    color: red;
    text-decoration: none;
}
html
{
    margin: 0%;
}
button
{
    color: aquamarine;
    background-color: blue;
    box-shadow:  2px 4px violet;
    text-shadow: 2px 10px;
    width: 100px;
    height: 50px;
}
.for-resize-images-button-div{
    display: flex;
}
.padding-text
{
    padding: 5%;
    width: 80%;
    margin: auto;
}
.pic-border
{
    outline: 3px solid pink;
}
.for-form
{
    height: 200px;
    width: 300px;
    position: absolute;
    background-color:red;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    float: center;
}
.flex-between-center
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.for-index-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    padding: 3%;
}
.for-h6
{
    align-items: flex-start;
}
.wrapper
{
    width: 80%;
    margin: auto;
    padding-left: 5px;
}
.for-blocks
{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px;
}
.for-ul-blocks
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2%;
}
.for-main-text
{
    color: rgba(0,0,0,0.5);
}
.for-blocks-image
{
    border-radius: 100px;
    border: 3px solid green;
    width: 40px;
    height: 40px;
}
.for-div-image
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.for-div-text
{
    padding-left: 10%;
}
.for-main-div-for-blocks
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2%;
}
.for-lower-div
{
    display: flex;
}
.for-form-new
{
    display: flex;
    background-color: white;
    border-radius: 70px;
    border: 3px solid orange;
    margin: 2%;
    padding: 2%;
    width: 300px;
    height: 500px;
    justify-content: space-around;
}
.for-form-div
{
    
    display: flex;
    justify-content: center;

}
.for-button-div
{
    display: flex;
    justify-content: center;
}
.for-checkbox-div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.for-textbox-wrap
{
    display: flex;
    justify-content: space-between;
}
.form-class
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.for-krasota
{
    border: 3px solid orange;
    background-color: rgba(251, 192, 147,0.4);
    border-radius: 50px;
}
.clicked{
    background-color: black;
    border:10px solid orange ;
    color: pink;
}
.dark-theme-blocks{
    background-color: black;
    color: white;
}
