h1,h2
{
    color:blueviolet;
    margin: 0%;
    text-shadow: red 2px 5px;
}
body
{
    background-color: cadetblue;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}
footer
{
    background-color: chartreuse;
    margin:0%;
    border-top: solid 5px red;
}
header
{
    background-color: darkturquoise;
    margin: 0%;
}
main
{
    background-color: cornsilk;
    margin: 0%;
}
h3,h4,h5,h6
{
    margin: 0%;
}
ul
{
    margin: 0%;
    list-style: none;
    display: flex;
    align-content: flex-end;
    align-items: center;
}
li a
{
    color: red;
    text-decoration: none;
}
html
{
    margin: 0%;
}
button
{
    color: aquamarine;
    background-color: blue;
    box-shadow:  2px 4px violet;
    text-shadow: 2px 10px;
    padding: 3%;
}
.padding-text
{
    padding: 5%;
}
.pic-border
{
    outline: 3px solid pink;
}
.for-form
{
    height: 200px;
    width: 300px;
    background-color: brown;
<<<<<<< HEAD
    display: flex;
    align-items: center;
=======
    flex-direction: column;
    align-items: center;

>>>>>>> be3e5ae070def1a33fcb9459acc4b0463d8adb77
}